.title-bar{
    height: 40px;
}

.record-calendar{
    width: 100%;
    border: 1px solid rgba(0,0,0,0.1);
    font-size: x-small;
    text-align: center;
    margin-bottom: 10px;
}

.record-calendar .date, .record-calendar .start, .record-calendar .stop, .record-calendar .time{
    width: 80px;
}

.record-calendar .subject{
    width: 160px;
}

.form-control{
    width: 300px;
    height: 30px;
    font-size: x-small;
}

.month-change-button{
    background-color: rgba(0,0,0,0);
    border: none;
    color: white;
    font-size: small;
    margin: auto 10px;
}

.month-change-button-field :hover{
    color: rgba(220,220,220,1);
}

.record-header{
    background-color: rgb(230, 230, 230);
}

.record-data :hover{
    background-color: lightcyan;
}

.top-td{
    border-bottom: none;
}

.none-border{
    border: none;
}

.month-change-button :disabled, .month-change-button[disabled]{
    color:rgba(220,220,220,1);
}