<div class="main">
    <div class="signup-form">
        <div style="text-align:center;">
            <img src="./../../assets/title_logo.png" class="title-logo">
        </div>
        <h1>アカウントを作成</h1>
        <div style="text-align:center;">
            <mat-form-field appearance="outline">
                <mat-label>ユーザー名</mat-label>
                <input matInput type="text" [formControl]="userName">
                <mat-error *ngIf="userName.invalid">必須項目です</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>メールアドレス</mat-label>
                <input matInput type="text" [formControl]="email">
                <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>パスワード</mat-label>
                <input matInput type="text" [formControl]="password">
                <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
        <div style="text-align:center;">
            <button mat-raised-button color="primary" (click)="signupWithEmailAndPassword()" [disabled]="loginForm.invalid"><span class="sign-in-literal">続ける</span></button>
        </div>
        <br>
        <div class="social-signup-buttons-field">
            または<br>
            <button mat-raised-button class="social-signup-button">
                <img src="./../../assets/btn_google_dark_normal_ios.svg">
                <span class="sign-in-literal">Googleアカウントで続ける</span>
            </button>
            <br>
        </div>
    </div>
    <div class="signup-link">
        アカウントをお持ちの場合<br>
        <a routerLink="/login">ログイン</a>
    </div>
</div>
