<div class="record-calendar-field">
    <mat-toolbar class="title-bar" color="accent">
        <select class="form-control form-control-sm" [(ngModel)]="selectedNumber" (change)="changeSelectedMonth(0)">
            <option *ngFor="let selected of selectMonthList" [value]="selected[1]">{{selected[0]}}</option>
        </select>
        <div class="month-change-button-field">
            <button class="month-change-button" (click)="changeSelectedMonth(-1)">＜前月</button>
            <button class="month-change-button" (click)="changeSelectedMonth(1)"> 次月＞</button>
        </div>
    </mat-toolbar>
    <table class="record-calendar" border="1">
        <thead>
          <tr class="record-header">
            <th class="date" scope="col">日付</th>
            <th class="subject" scope="col">科目</th>
            <th class="start" scope="col">開始</th>
            <th class="stop" scope="col">終了</th>
            <th class="memo" scope="col">メモ</th>
          </tr>
        </thead>
        <tbody class="record-data" *ngFor="let date of selectedMonth" [style.background-color]="getBgcolor(date)">
          <tr>
            <td>{{date | date: "M/d"}}({{dayOfWeekJP[date.getDay()]}})</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
</div>