.main{
    position: relative;
    top: 15%;
}

.login-form {
    max-width: 400px;
    margin: auto;
    border: 1px solid rgb(220,220,220);
    box-shadow: 0px 0px 5px;
    padding: 20px;
}

.login-form .logo-field{
    text-align: center;
}

.login-form .title-logo{
    height: 50px;
}

.login-form h1{
    margin: 20px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: gray;
}

.login-form .input-label, .login-form a{
    margin-left: 35px;
}

.login-form .login-button{
    text-align: center;
}

.login-form mat-form-field{
    width: 80%;
    margin: 5px;
}

.login-form button{
    margin-top: 10px;
    width: 80%;
}

.social-login-buttons-field{
    margin-top: 0px;
    text-align: center;
}

.social-login-buttons-field .social-login-button{
    padding: 0;
    border: none;
    margin-top: 10px;
    background-color: #4285F4;
    padding: 2px;
}

.login-literal{
    color: white;
    font-family: "inherit";
    font-weight: bold;
    vertical-align: middle;  
}
  
.social-login-buttons-field .social-login-button img {
    height: 36px;
    margin-right: 20px
}

.signup-link{
    text-align: center;
    margin: 30px auto;
}