.main-toolbar{
    width: 100%;
    background-color: white;
    display: flex;
    position: fixed;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    z-index: 2;
}

.logo-button{
    border: none;
    background-color: white;
}

.logo-button :hover{
    opacity: 0.5;
}

.title-logo{
    height: 30px;
    margin: 5px;
}

.spacer{
    flex: 1 1 auto;
}

.wrapper{
    display: flex;
    padding-top: 40px;
}

.wrapper .title-bar{
    height: 30px;
    font-size: 15px;
    font-family:　Noto Sans JP;
}

.wrapper .column{
    height: 100hv;
    width: 100%;
}

.wrapper .button-and-log{
    width: 500px;
}

.wrapper .button-and-log div{
    margin-top: 10px;
    margin-left:10px;
    margin-right: 10px;
    border: 1px solid rgba(0,0,0,0.2);
}

.wrapper .button-and-log .stamping-button-field{
    text-align: center;
}

.wrapper .button-and-log .stamping-button-field .select-subject-field{
    display: flex;
    border: none;
}

.wrapper .button-and-log .stamping-button-field .select-subject-field button{
    margin-top: 10px;
}

.wrapper .button-and-log .stamping-button{
    height: 60px;
    width: 120px;
    font-size: x-large;
    margin: 10px 20px 10px 20px;
}

.wrapper .button-and-log .subject{
    width: 83%;
    margin: auto;
}

.wrapper .button-and-log .memo{
    width: 90%;
    margin: 10px;
}

.wrapper .watch-record-tabs{
    margin-top: 10px;
    margin-left:10px;
}