<header class="main-toolbar">
    <button class="logo-button" (click)="reload()">
        <img src="./../../assets/title_logo.png" class="title-logo">
    </button>
    <span class="spacer"></span>
    <button mat-icon-button color="primary">
        <mat-icon>person</mat-icon>
    </button>
</header>
<div class="wrapper">
    <div class="column watch-record-tabs">
        <mat-tab-group mat-align-tabs="center" color="primary">
            <mat-tab label="管理と編集"><app-record-calendar></app-record-calendar></mat-tab>
            <mat-tab label="グラフ"><app-record-graph></app-record-graph></mat-tab>
        </mat-tab-group>
    </div>
    <div class="column button-and-log">
        <div class="stamping-button-field">
            <mat-toolbar class="title-bar" color="accent">{{today | date: "yyyy年MM月dd日"}}({{dayOfWeekJP[today.getDay()]}})</mat-toolbar>
            <div class="select-subject-field">
                <select class="form-control form-control-sm">
                    <option value="">--科目を選択--</option>
                </select>
                <button mat-icon-button class="add-button" color="primary">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <button mat-raised-button class="stamping-button" color="primary">開始</button>
            <button mat-raised-button class="stamping-button" color="warn">終了</button>
            <input type="text" class="form-control" placeholder="メモを入力できます" aria-label="Username" aria-describedby="basic-addon1">
        </div>
    </div>
</div>
