<header class="main-toolbar">
    <button class="logo-button" (click)="reload()">
        <img src="./../../assets/title_logo.png" class="title-logo">
    </button>
    <span class="spacer"></span>
    <button mat-button class="account-button" color="primary" [matMenuTriggerFor]="accountMenu">
        {{user.displayName}}さん
    </button>
    <mat-menu #accountMenu="matMenu">
        <button mat-menu-item (click)="authService.logout()">ログアウト</button>
    </mat-menu>
</header>
<div class="wrapper">
    <div class="column button-and-log">
        <div class="stamping-button-field">
            <mat-toolbar class="title-bar" color="accent">{{today | date: "yyyy年MM月dd日"}}({{dayOfWeekJP[today.getDay()]}})</mat-toolbar>
            <div class="select-subject-field">
                <mat-form-field class="subject" appearance="outline">
                    <mat-label>科目</mat-label>
                    <mat-select [(value)]="selectedSubject">
                        <mat-option value="">指定なし</mat-option>
                        <ng-container *ngFor="let subject of subjects">
                            <mat-option *ngIf="subject.deleted_at == null" value="{{subject.docID}}">{{subject.subject}}</mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
                <button mat-icon-button class="add-button" color="primary" (click)="openSubjectDialog()">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
            <div *ngIf="stateFlag" class="stamp-field">
                <button mat-fab color="warn" class="stamping-button" (click)="timestampService.pushStartStamp(selectedSubject,memo)" (click)="memo=''" (click)="stateFlag = !stateFlag">
                    <mat-icon>play_arrow</mat-icon>
                </button><br><br>
                <span>ボタンを押して勉強開始！</span>
            </div>
            <div *ngIf="!stateFlag" class="stamp-field">
                <button mat-fab color="primary" class="stamping-button" (click)="timestampService.pushEndStamp()" (click)="stateFlag = !stateFlag">
                    <mat-icon> pause</mat-icon>
                </button><br><br>
                <span>・・・勉強中・・・</span>
            </div>
            <mat-form-field class="memo" appearance="outline">
                <mat-label>メモ</mat-label>
                <input matInput type="text" [(ngModel)]="memo">
            </mat-form-field>
        </div>
    </div>
    <div class="column watch-record-tabs">
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="管理と編集"><app-record-calendar></app-record-calendar></mat-tab>
            <mat-tab label="グラフ"><app-record-graph></app-record-graph></mat-tab>
        </mat-tab-group>
    </div>
</div>