.container{
    text-align: center;
    font-family: "inherit";
}

button{
    height: 50px;
    margin-top: 20px;
    width: 100%
}

mat-form-field{
    width: 100%;
    margin-top: 10px;
}

.dialog-title{
    font-size: large;
}