<div class="main" style="text-align:center;">
        <img src="./../../assets/title_logo.png" class="title-logo"><br><br>
        <h1 class="literal">メールの送信が完了しました</h1><br>
        <span class="literal">入力していただいたメールアドレス宛に、確認メールを送信しました。</span><br>
        <span class="literal">アカウントを使用するにはメールに添付してあるURLをクリックしてください。</span><br>
        <span class="literal">❇︎確認メールが届かない場合入力していただいたメールアドレスが間違っている可能性があります。</span><br>
        <span class="literal">再度、最初からユーザ情報の入力を行ってください。</span><br><br><br>
        <button mat-raised-button color="primary" routerLink="/login"><span class="login-literal">ログイン画面に戻る</span></button>
</div>