.main{
    position: relative;
    top: 20%;
}

.login-form {
    max-width: 400px;
    margin: auto;
    border: 1px solid rgb(220,220,220);
    box-shadow: 0px 0px 5px;
    padding: 20px;
}

.login-form .logo-field{
    text-align: center;
}

.login-form .title-logo{
    height: 50px;
}

.login-form h1{
    margin: 20px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: gray;
}

.login-form .input-label, .login-form a{
    margin-left: 35px;
}

.login-form .login-button{
    text-align: center;
}

.login-form mat-form-field{
    width: 80%;
    margin: 5px;
}

.login-form button{
    margin-top: 10px;
    width: 80%;
    margin-bottom: 10px;
}

.login-literal{
    color: white;
    font-family: "inherit";
    font-weight: bold;
    vertical-align: middle;  
}

.login-link{
    text-align: center;
    margin: 30px auto;
}