<div class="main">
    <div class="login-form">
        <div style="text-align:center;">
            <img src="./../../assets/title_logo.png" class="title-logo">
        </div>
        <h1>パスワードの再設定</h1>
        <div style="text-align:center;">
            <mat-form-field appearance="outline">
                <mat-label>メールアドレス</mat-label>
                <input matInput type="text" [formControl]="email">
                <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
        <div class="login-button">
            <button mat-raised-button color="primary" (click)="passwordForgot()" [disabled]="email.invalid"><span class="login-literal">メールを送信</span></button>
        </div>
    </div>
    <div class="login-link">
        <a routerLink="/login">ログインに戻る</a>
    </div>
</div>

